*{
    padding: 0;
    margin: 0;
}
/* Navigation Bar */
#nav-bar{
    position: sticky;
    top: 0;
    position: fixed;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar .navbar-nav li a:hover{
    color: #077bff!important;
}
.navbar{
    background-color: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-earch-box button{
    border: none;
}
.nav-earch-box i{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
    margin: 5px;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
.nav-earch-box{
    margin-left:30px; 
}
.nav-icons{
    padding: 10px;
    margin-left: 10px;
}
.nav-icons i{
    margin: 10px;
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

